@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

svg {
    font-family: "Rubik Distressed", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 2s infinite alternate;
    stroke-width: 2;
    stroke: #0012A0;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(204, 0, 0, 0);
        stroke: rgba(0, 18, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(204, 0, 0, 0);
        stroke: rgba(0, 18, 160, 1);
    }

    80% {
        fill: rgba(204, 0, 0, 0);
        stroke: rgba(0, 18, 160, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(204, 0, 0, 1);
        stroke: rgba(0, 18, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.wrapper {
    background-color: #1FFFF0;
}